.left-nav {
  margin-top: 30px;
  background-color: #f5f5f5;
  border-radius: 0px 10px 10px 0px;
  font-size: 16pt;
  padding: 10px 0px;
}

.nav-elements {
  list-style: none;
}

.nav-elements > li {
  display: block;
}

.nav-elements > li > a {
  display: block;
  color: #666;
  padding: 10px 15px;
  border-width: 0px 0px 1px 0px;
  border-color: #666;
  border-style: solid;
}

.nav-elements > li > a:hover,
.nav-elements > li > a:focus {
  text-decoration: none;
  border-color: #007ab7;
  color: #007ab7;
}

a {
  color: #007ab7;
}

a:hover,
a:focus {
  color: #007ab7;
}

.main {
  padding: 30px 20px;
}

.cisco-logo {
  transform: scale(0.5);
  display: inline-block;
  float: left;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}

.copyright {
  height: 100%;
  vertical-align: bottom;
  margin-top: auto;
  margin-bottom: auto;
}
