*~
.*.sw?
.sw?
/Makefile
/TAGS
/bin/
/boot/
/pb/
/a6*/
/i3*/
/ta6*/
/ti3*/
/arm*/
/tarm*/
/ppc*/
/tppc*/
/xc-*/
*.*run
/csug/math/csug/
/csug/Makefile
/csug/*.aux
/csug/*.html
/csug/*.tex
/csug/csug.ans
/csug/csug.bbl
/csug/csug.blg
/csug/*.haux
/csug/csug.htoc
/csug/*.idx
/csug/csug.ilg
/csug/csug.ind
/csug/csug.pdf
/csug/*.rfm
/csug/csug.sfm
/csug/csug.toc
/csug/csug.out
/csug/*.hidx
/csug/libslisted*
/csug/libsrecorded*
/csug/*.log
/release_notes/math/release_notes/
/release_notes/Makefile
/release_notes/*.tex
/release_notes/*.aux
/release_notes/*.haux
/release_notes/*.html
/release_notes/*.htoc
/release_notes/*.htoc
/release_notes/*.log
/release_notes/release_notes.pdf
/rktboot/compiled/
