*~
.*.sw?
.sw?
.DS_Store
/Makefile
/main.zuo
/TAGS
/bin/
/boot/
/pb*/
/tpb*/
/a6*/
/i3*/
/ta6*/
/ti3*/
/arm*/
/tarm*/
/rv64*/
/trv64*/
/la64*/
/tla64*/
/ppc*/
/tppc*/
/xc-*/
/em-*/
*.*run
/csug/math/
/csug/gifs/
/csug/Makefile
/csug/*.aux
/csug/*.html
/csug/*.tex
/csug/csug.ans
/csug/csug.bbl
/csug/csug.blg
/csug/*.haux
/csug/csug.htoc
/csug/*.idx
/csug/csug.ilg
/csug/csug.ind
/csug/csug.pdf
/csug/*.rfm
/csug/csug.sfm
/csug/csug.toc
/csug/csug.out
/csug/*.hidx
/csug/libslisted*
/csug/libsrecorded*
/csug/*.log
/csug/primdata.ss
/release_notes/math/
/release_notes/gifs/
/release_notes/Makefile
/release_notes/*.tex
/release_notes/*.aux
/release_notes/*.haux
/release_notes/*.html
/release_notes/*.htoc
/release_notes/*.htoc
/release_notes/*.log
/release_notes/release_notes.pdf
/rktboot/compiled/
/expr.md
