[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "nanopass"]
	path = nanopass
	url = https://github.com/nanopass/nanopass-framework-scheme.git
[submodule "stex"]
	path = stex
	url = https://github.com/dybvig/stex
[submodule "lz4"]
	path = lz4
	url = https://github.com/lz4/lz4.git
[submodule "zuo"]
	path = zuo
	url = https://github.com/racket/zuo
