<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="D_bin">
      <Directory Id="D_bin_a6nt" Name="a6nt">
        <Component Id="cmp9E121291956F53F264990A9F6E93E67D" Guid="*">
          <File Id="fil174DC3B31231BE75291782CBF71B1ECB" KeyPath="yes" Source="..\a6nt\bin\a6nt\csv1020.dll" />
        </Component>
        <Component Id="cmpDB181AE3BD838D4F431CAE12DB40B70A" Guid="*">
          <File Id="fil53D3BD37CECBBF28D1DB95A8B750DBDC" KeyPath="yes" Source="..\a6nt\bin\a6nt\csv1020.exp" />
        </Component>
        <Component Id="cmp0B0A70880E3C505B199705D415235AC7" Guid="*">
          <File Id="fil69E98A18AB5AD3061617C9E68F536773" KeyPath="yes" Source="..\a6nt\bin\a6nt\csv1020.lib" />
        </Component>
        <Component Id="cmp41C1093548579E6BE087DD4BE735B7C5" Guid="*">
          <File Id="fil11683117A53DD772D9B6F0C11BE06C7C" KeyPath="yes" Source="..\a6nt\bin\a6nt\csv1020.pdb" />
        </Component>
        <Component Id="cmpD50999EDF5C2480D6F6F6A04E6B127F3" Guid="*">
          <File Id="filE439E2DE55CFE1366273AF3E232D4519" KeyPath="yes" Source="..\a6nt\bin\a6nt\petite.exe" />
        </Component>
        <Component Id="cmp5740FF469BE73A073AF9A5DB75C36C8F" Guid="*">
          <File Id="filAFA637C0D30922D860F3EE6D92EEB420" KeyPath="yes" Source="..\a6nt\bin\a6nt\petite.pdb" />
        </Component>
        <Component Id="cmpDD19E9A8DE8058599CFC66AF8DB39487" Guid="*">
          <File Id="filA4D665DE511690E448BF115110B44A21" KeyPath="yes" Source="..\a6nt\bin\a6nt\scheme.exe">
            <Shortcut Id="cs_a6nt_shortcut"
                      Advertise="yes"
                      Name="Chez Scheme 64-bit nonthreaded"
                      Description="Chez Scheme Version $(var.Version) 64-bit nonthreaded"
                      Directory="D_shortcuts"
                      Icon="cs.ico"
                      WorkingDirectory="APPLICATIONFOLDER"/>
          </File>
        </Component>
        <Component Id="cmp6BB67EB735F0C8C23D4B94F0096A19BF" Guid="*">
          <File Id="fil7A6708590A224BCB853A13A84ABACC69" KeyPath="yes" Source="..\a6nt\bin\a6nt\scheme.pdb" />
        </Component>
      </Directory>
    </DirectoryRef>
    <DirectoryRef Id="D_boot">
      <Directory Id="D_boot_a6nt" Name="a6nt">
        <Component Id="cmpB8AFC5E7298C4FB423F21E474D718248" Guid="*">
          <File Id="filAA3DCFC2962A0A679D26BAEF2EE45D18" KeyPath="yes" Source="..\a6nt\boot\a6nt\csv1020md.lib" />
        </Component>
        <Component Id="cmp41A0F324C636C03565EFAB5DC1197958" Guid="*">
          <File Id="fil0052F236986BD25DFE0D0DE76854483B" KeyPath="yes" Source="..\a6nt\boot\a6nt\csv1020mt.lib" />
        </Component>
        <Component Id="cmp08025CB77BA01465D21171D27231AE6A" Guid="*">
          <File Id="fil7FF609B8D0F6C6E984910D4458F7B76B" KeyPath="yes" Source="..\a6nt\boot\a6nt\mainmd.obj" />
        </Component>
        <Component Id="cmp9A2A63AC4024CDB5A4AB32201F5CCF90" Guid="*">
          <File Id="filBB807108515066B3DCB86480B66619D0" KeyPath="yes" Source="..\a6nt\boot\a6nt\mainmt.obj" />
        </Component>
        <Component Id="cmp16473ADACEED364D590D03625C25E89F" Guid="*">
          <File Id="fil6610154EF259B5032186716CA4B7907B" KeyPath="yes" Source="..\a6nt\boot\a6nt\petite.boot" />
        </Component>
        <Component Id="cmpFD41FA4B58A832ECA2F6DD2072FB9AF4" Guid="*">
          <File Id="fil9A32114AB26B7B550F6181EE6B49983C" KeyPath="yes" Source="..\a6nt\boot\a6nt\scheme.boot" />
        </Component>
        <Component Id="cmpCF87ED4A57D979176405C247DF74C089" Guid="*">
          <File Id="fil58F4DBE33B3EE5A7E676840E20BE658A" KeyPath="yes" Source="..\a6nt\boot\a6nt\scheme.h" />
        </Component>
        <Component Id="cmp2D19D4386E40826BAD887EB79EB3F163" Guid="*">
          <File Id="fil9BCC9A55DC3F2B6C3A8D1C91FEA34969" KeyPath="yes" Source="..\a6nt\boot\a6nt\scheme.res" />
        </Component>
        <Component Id="cmp3395E9DB380C4153BF70BA8934BF21D3" Guid="*">
          <File Id="fil77244B8601F445908549F279EDF7D53A" KeyPath="yes" Source="..\a6nt\boot\a6nt\revision" />
        </Component>
      </Directory>
    </DirectoryRef>
    <ComponentGroup Id="a6nt">
      <ComponentRef Id="cmp9E121291956F53F264990A9F6E93E67D" />
      <ComponentRef Id="cmpDB181AE3BD838D4F431CAE12DB40B70A" />
      <ComponentRef Id="cmp0B0A70880E3C505B199705D415235AC7" />
      <ComponentRef Id="cmp41C1093548579E6BE087DD4BE735B7C5" />
      <ComponentRef Id="cmpD50999EDF5C2480D6F6F6A04E6B127F3" />
      <ComponentRef Id="cmp5740FF469BE73A073AF9A5DB75C36C8F" />
      <ComponentRef Id="cmpDD19E9A8DE8058599CFC66AF8DB39487" />
      <ComponentRef Id="cmp6BB67EB735F0C8C23D4B94F0096A19BF" />
      <ComponentRef Id="cmpB8AFC5E7298C4FB423F21E474D718248" />
      <ComponentRef Id="cmp41A0F324C636C03565EFAB5DC1197958" />
      <ComponentRef Id="cmp08025CB77BA01465D21171D27231AE6A" />
      <ComponentRef Id="cmp9A2A63AC4024CDB5A4AB32201F5CCF90" />
      <ComponentRef Id="cmp16473ADACEED364D590D03625C25E89F" />
      <ComponentRef Id="cmpFD41FA4B58A832ECA2F6DD2072FB9AF4" />
      <ComponentRef Id="cmpCF87ED4A57D979176405C247DF74C089" />
      <ComponentRef Id="cmp2D19D4386E40826BAD887EB79EB3F163" />
      <ComponentRef Id="cmp3395E9DB380C4153BF70BA8934BF21D3" />
    </ComponentGroup>
  </Fragment>
</Wix>
