<?xml version="1.0" encoding="UTF-8"?>

<?define ProductName = "Chez Scheme"?>
<?define Manufacturer = "Cisco Systems, Inc."?>
<?define UpgradeCode = "f1d9058d-fb72-4896-862d-f332388cf392"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle Name="$(var.ProductName) $(var.Version)"
          Version="$(var.Version)"
          Manufacturer="$(var.Manufacturer)"
          UpgradeCode="$(var.UpgradeCode)">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
	  LicenseFile="license.rtf"
	  LogoFile="cs.png"
          SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>

    <Chain>
      <MsiPackage SourceFile="ChezScheme32.msi" Cache="yes" />
      <MsiPackage InstallCondition="VersionNT64" SourceFile="ChezScheme64.msi" Cache="yes" />
    </Chain>
  </Bundle>
</Wix>
