<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="D_bin">
      <Directory Id="D_bin_ti3nt" Name="ti3nt">
        <Component Id="cmp3E51840FF941B7410025EFB2215EAB58" Guid="*">
          <File Id="fil6B96E8682034EC96C7842C5024FDF620" KeyPath="yes" Source="..\ti3nt\bin\ti3nt\csv1020.dll" />
        </Component>
        <Component Id="cmp68BA21E76800BFFA057D33973E89D8F4" Guid="*">
          <File Id="fil5F505E9200C84F7887C4D12FA9D9D794" KeyPath="yes" Source="..\ti3nt\bin\ti3nt\csv1020.exp" />
        </Component>
        <Component Id="cmpCA1F1C55C49A3A332E60F8D0D78363C2" Guid="*">
          <File Id="filB8607D2BF295249DD6F51070A687E14B" KeyPath="yes" Source="..\ti3nt\bin\ti3nt\csv1020.lib" />
        </Component>
        <Component Id="cmp01D266C0ECE540BE4BF6E6AE14AFFCBB" Guid="*">
          <File Id="filE99735E84B4934FC41AAA6BBF547F1C5" KeyPath="yes" Source="..\ti3nt\bin\ti3nt\csv1020.pdb" />
        </Component>
        <Component Id="cmpC00FD9C7415A1D2D22EA38F5259CAAA4" Guid="*">
          <File Id="fil80D2F31CB0D3B8F98E3C8CCAF9DA6F29" KeyPath="yes" Source="..\ti3nt\bin\ti3nt\petite.exe" />
        </Component>
        <Component Id="cmp0949B35B6635F6A272D3653F0A7E1C06" Guid="*">
          <File Id="fil00202A504AF867AFC9C6D2FD59A70835" KeyPath="yes" Source="..\ti3nt\bin\ti3nt\petite.pdb" />
        </Component>
        <Component Id="cmp10BA4CB7C0EB863E5ADE7BC00B949622" Guid="*">
          <File Id="filE30343224C6DDDA38B98EFAFC66A3E13" KeyPath="yes" Source="..\ti3nt\bin\ti3nt\scheme.exe">
            <Shortcut Id="cs_ti3nt_shortcut"
                      Advertise="yes"
                      Name="Chez Scheme 32-bit threaded"
                      Description="Chez Scheme Version $(var.Version) 32-bit threaded"
                      Directory="D_shortcuts"
                      Icon="cs.ico"
                      WorkingDirectory="APPLICATIONFOLDER"/>
          </File>
        </Component>
        <Component Id="cmp13CD3D77D4FA3BAC5500D6A9D0C6F7DB">
          <File Id="fil38418D3FE9E8C3F883F39363313BB74F" Source="..\ti3nt\bin\ti3nt\scheme.pdb" />
        </Component>
      </Directory>
    </DirectoryRef>
    <DirectoryRef Id="D_boot">
      <Directory Id="D_boot_ti3nt" Name="ti3nt">
        <Component Id="cmp7099C9EB3F487AAFE3A880CED21FA9C2" Guid="*">
          <File Id="filD5DA8D84F54BC985AA246BBD3FB15239" KeyPath="yes" Source="..\ti3nt\boot\ti3nt\csv1020md.lib" />
        </Component>
        <Component Id="cmpF3038779EA05930E72A29C15DC2D64B2" Guid="*">
          <File Id="filFB335FE01A6D5ED27AD2BC179DB8E265" KeyPath="yes" Source="..\ti3nt\boot\ti3nt\csv1020mt.lib" />
        </Component>
        <Component Id="cmp9DDE0523EFC5EEA983DE3CFA0F493908" Guid="*">
          <File Id="fil139F59D34D1A013CCB2AEC11507287AA" KeyPath="yes" Source="..\ti3nt\boot\ti3nt\mainmd.obj" />
        </Component>
        <Component Id="cmp0CE1CF2FA5322014A0FB6C493C207238" Guid="*">
          <File Id="filE241ABDC5584314790A8BA6707D7442B" KeyPath="yes" Source="..\ti3nt\boot\ti3nt\mainmt.obj" />
        </Component>
        <Component Id="cmp4ACC4A5EDBBBF3A5B4AEEC2E85AD92B0" Guid="*">
          <File Id="filFC67F13E205BBC3694A7B4B915E7BCA3" KeyPath="yes" Source="..\ti3nt\boot\ti3nt\petite.boot" />
        </Component>
        <Component Id="cmp31F220BF3C0B1F0A17C5C676A56112E2" Guid="*">
          <File Id="fil07508C23D2DB8D49B03DCFDD2655E6D4" KeyPath="yes" Source="..\ti3nt\boot\ti3nt\scheme.boot" />
        </Component>
        <Component Id="cmp8689231D780F12557A0906BBB4BDDC2C" Guid="*">
          <File Id="fil92721180AD1CB64217AC969B98D82654" KeyPath="yes" Source="..\ti3nt\boot\ti3nt\scheme.h" />
        </Component>
        <Component Id="cmpDEDEC747F47B5ED89E854DCF25F0E14F" Guid="*">
          <File Id="filB7A76F46E9B4F0F7F7B74FEE339025B9" KeyPath="yes" Source="..\ti3nt\boot\ti3nt\scheme.res" />
        </Component>
        <Component Id="cmp3655144F524A4B35BDF8405560CEAB33" Guid="*">
          <File Id="fil82E8648E5FB0461EAE31540CE784B2FF" KeyPath="yes" Source="..\ti3nt\boot\ti3nt\revision" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ti3nt">
      <ComponentRef Id="cmp3E51840FF941B7410025EFB2215EAB58" />
      <ComponentRef Id="cmp68BA21E76800BFFA057D33973E89D8F4" />
      <ComponentRef Id="cmpCA1F1C55C49A3A332E60F8D0D78363C2" />
      <ComponentRef Id="cmp01D266C0ECE540BE4BF6E6AE14AFFCBB" />
      <ComponentRef Id="cmpC00FD9C7415A1D2D22EA38F5259CAAA4" />
      <ComponentRef Id="cmp0949B35B6635F6A272D3653F0A7E1C06" />
      <ComponentRef Id="cmp10BA4CB7C0EB863E5ADE7BC00B949622" />
      <ComponentRef Id="cmp13CD3D77D4FA3BAC5500D6A9D0C6F7DB" />
      <ComponentRef Id="cmp7099C9EB3F487AAFE3A880CED21FA9C2" />
      <ComponentRef Id="cmpF3038779EA05930E72A29C15DC2D64B2" />
      <ComponentRef Id="cmp9DDE0523EFC5EEA983DE3CFA0F493908" />
      <ComponentRef Id="cmp0CE1CF2FA5322014A0FB6C493C207238" />
      <ComponentRef Id="cmp4ACC4A5EDBBBF3A5B4AEEC2E85AD92B0" />
      <ComponentRef Id="cmp31F220BF3C0B1F0A17C5C676A56112E2" />
      <ComponentRef Id="cmp8689231D780F12557A0906BBB4BDDC2C" />
      <ComponentRef Id="cmpDEDEC747F47B5ED89E854DCF25F0E14F" />
      <ComponentRef Id="cmp3655144F524A4B35BDF8405560CEAB33" />
    </ComponentGroup>
  </Fragment>
</Wix>
